@model CafeLab.Models.Order

@{
    ViewData["Title"] = "Видалення замовлення";
}

<h3 class="text-center">Ви впевнені, що хочете видалити інформацію?</h3>

<style>
    form div {
        margin-bottom: 10px;
    }

    form {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin: auto;
    }

    input {
        margin: auto;
    }
</style>
<div>
    <h4>Замовлення</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dishes)
        </dt>
        <dd class="col-sm-10">
            @foreach (var dish in Model.Dishes)
            {
                <span class="badge bg-primary">
                    @dish.Dish.Name
                </span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group" style="margin: auto;">
            <input type="submit" value="Видалити" style="margin: auto;" class="btn btn-info" />
            <a type="button" class="btn btn-secondary" style="margin: auto;" asp-action="Index">Відміна</a>
        </div>
    </form>
</div>
