@model CafeLab.Models.Dish

@{
    ViewData["Title"] = "Видалення страви";
}

<h3 class="text-center">Ви впевнені, що хочете видалити інформацію?</h3>

<style>
    form div {
        margin-bottom: 10px;
    }

    form, .main {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin: auto;
    }

    input {
        margin: auto;
    }
</style>
<div class="main">
    <hr />
    <dl class="col">
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.PictureUrl)" width="200px" height="200px"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)₴
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)г.
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group" style="margin: auto;">
            <input type="submit" value="Видалити" style="margin: auto;" class="btn btn-info" />
            <a type="button" class="btn btn-secondary" style="margin: auto;" asp-action="Index">Відміна</a>
        </div>
    </form>
</div>
