@model IEnumerable<CafeLab.Models.Dish>

@{
    ViewData["Title"] = "Меню";
}

<h1 class="text-center">Меню</h1>

<p>
    <a type="button" class="btn btn-info" asp-action="Create">Додати страву</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="align-middle">
            <td class="text-center">
                <img src="@Html.DisplayFor(modelItem => item.PictureUrl)" width="200px" height="200px"/>
            </td>
            <td class="text-center">
                <span class="badge bg-primary">
                    @Html.DisplayFor(modelItem => item.Name)
                </span>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Weight)г.
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Price)₴
            </td>
            <td class="text-center">
                <span class="badge bg-secondary">
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </span>
            </td>
            <td>
                <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a type="button" class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
        }
    </tbody>
</table>
